body {
    padding: 0;
    margin: 0;
}

#video {
    width: 100%;
    height: 100%;
    position: absolute;
}

.catch {
    width: 2rem;
    height: 1rem;
    background: #fff;
    font-size: 0.2rem;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    text-align: center;
    margin-left: -1rem;
}