body {
    padding: 0;
    margin: 0;
}

#video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000;
}

.catch {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    text-align: center;
    margin-left: -2.32rem;
}

.shade {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    z-index: 10001;
}

.shade .close {
    position: absolute;
    width: 0.66rem;
    height: 0.66rem;
    display: block;
    background: url(../res/icon_close.png) no-repeat;
    background-size: 100% auto;
    right: -0.1rem;
    top: -0.7rem;
}

.img-btn {
    width: 4.64rem;
    height: 0.99rem;
    color: #ffffff;
    font-size: 0.35rem;
    text-align: center;
    line-height: 0.85rem;
    background: url(../res/icon_popup.png) no-repeat;
    background-size: 100% auto;
}

.shade .title {
    width: 100%;
    color: #fff100;
    font-size: 0.45rem;
    text-align: center;
    font-weight: bold;
}

.shade .img {
    width: 5.6rem;
    height: 5.55rem;
    display: block;
    background: url(../res/pic_congratulate.png) no-repeat;
    background-size: 100% auto;
    margin-top: -0.35rem;
}

.shade .title-sorry {
    position: relative;
    width: 5.6rem;
    height: 7rem;
    left: 50%;
    top: 25%;
    margin-left: -2.8rem;
}

.shade .title-sorry .title {
    width: 100%;
    color: #ffffff;
    font-size: 0.45rem;
    text-align: center;
    font-weight: bold;
}

.shade .title-sorry .img {
    width: 6.47rem;
    height: 4.45rem;
    display: block;
    background: url(../res/pic_sorry.png) no-repeat;
    background-size: 100% auto;
    margin-left: -0.44rem;
    margin-bottom: 0.5rem;
}